/* 
    Document   : base
    Created on : 02/10/2012, 11:31:04 PM
    Author     : diegus
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    font-family: arial;
    font-size: 12px;
    background-color: black;
    color: white;
}

h1{
    color: white;
    text-shadow: 1px 1px #DFDFDF;
}

h2{
    color: white;
    text-shadow: 1px 1px #DFDFDF;
}
text{
     color: white;
}
input[type="sbmit"]:hover {
    color: #000000;
    text-shadow: 1px 1px #DFDFDF;
}

input[type="sbmit"]:hover {
    color: #2C91CC;
    text-shadow: 1px 1px #DFDFDF;
}

a{
    color:#00FF00;
}

a:hover {
    color: #2C91CC;
}

.btnHelp {
    margin-bottom: -8px;
}

.BarraDeIdioma {
    width: 100%;
    text-align: right;
    
}

.FormularioDetalle {
    border-style: none;
    border-collapse: collapse;
    border-width: 0;
}

.FormularioDetalle .campo {
    background-color: #2E2E2E;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menuHorizontal ul li {
      display: inline;
}
 
.menuHorizontal ul li {
        display: inline;
        padding: 2px 7px; /*Separar el texto*/
        margin:5px; /* Separar los botones */
        background-color:#04B404; /* Color de fondo */
        font-size: 14px
}
.menuHorizontal ul li:hover {
        background-color:#CCCCCC; /* Color de fondo sobre el boton */
        cursor: pointer; /* cambiar el aspecto del puntero */
        font-size: 14px;
}
.menuHorizontal ul {
        /* Linea para delimitar la botonera */
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: #04B404;
        font-size: 14px;
}