/* 
    Document   : base
    Created on : 02/10/2012, 11:31:04 PM
    Author     : diegus
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    font-family: arial;
    font-size: 12px;
    background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

textarea { 
    resize: none; 
}

.nombreSitioMBE {
    color: #31B404;
    font-size: 50px;
    text-shadow: 1px 1px #DFDFDF;
}

.nombreSitioSistema {
    color: #efefef;
    font-size: 30px;
    text-shadow: 1px 1px #DFDFDF;
    margin-left: 20px;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-style: italic;
}

#wrapper {
    background-color: #000000;
}

h1{
    color: #2C91CC;
    text-shadow: 1px 1px #DFDFDF;
}

h2{
    color: #FFFFFF;
    text-shadow: 1px 1px #DFDFDF;
}
text{
     color: white;
}

input[type="sbmit"]:hover {
    color: #000000;
    text-shadow: 1px 1px #DFDFDF;
}

input[type="sbmit"]:hover {
    color: #2C91CC;
    text-shadow: 1px 1px #DFDFDF;
}

a{
    color:#00FF00;
}

a:hover {
    color: #2C91CC;
}

.btnHelp {
    margin-bottom: -8px;
}

.BarraDeIdioma {
    width: 100%;
    text-align: right;
    
}

.FormularioDetalle {
    border-style: none;
    border-collapse: collapse;
    border-width: 0;
}

.FormularioDetalle .campo {
    background-color: #2E2E2E;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
ul.menu {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	width: 1000px;
	background: #222;
	font-size: 1.2em;
	background: #8A0808;
}
ul.menu li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; 
}
ul.menu li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.menu li a:hover{
	background: url(menu/top.png) no-repeat center top;
}
ul.menu li span { 
	width: 17px;
	height: 35px;
	float: left;
	background: url(menu/subnav_btn.png) no-repeat center top;
}
ul.menu li span.subhover {background-position: center bottom; cursor: pointer;} 
ul.menu li ul.submenu {
	list-style: none;
	position: absolute; 
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #8A0808;
}
ul.menu li ul.submenu li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; 
	border-bottom: 1px solid #444; 
	clear: both;
	width: 170px;
}
html ul.menu li ul.submenu li a {
	float: left;
	width: 145px;
	background: #8A0808 url(menu/dropdown_linkbg.png) no-repeat 10px center;
	padding-left: 20px;
}
html ul.menu li ul.submenu li a:hover { 
	background:  black url(menu/dropdown_linkbg.png) no-repeat 10px center; 
}
.Lista {
    border-style: none;
    border-collapse: collapse;
    border-width: 0;
}

.Lista th {
    background-color: #08088A;
    color:#efefef;
    font-weight: bold;
    padding: 3px;
    font-size: 14px;
}

.Lista tr:nth-child(odd){
    background: #848484;
    color: #FFFFFF;
}
 
.Lista tr:nth-child(even){
    background: #120A2A;
    color: #FFFFFF;
}

.copyright_block {
    text-align: center;
    padding-top: 50px;
    color: #877F7C;
    text-transform: uppercase;
    font-size: 11px;
}

input[type='text'] {
    background-color: cyan;
}

.navegacion {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-bottom-color: #8A0808;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: right;
    
}

.navegacion a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #8A0808;
    color: #F0B400;
}.hide{
    color: black
}